[Desktop Entry]
Encoding=UTF-8
Version=2.0
Name=ToolBasView
Name[fr]=ToolBasView
Comment=Tool for opening embedded MySQL database
Comment[fr]=Outil permettant l'ouverture des bases de données MySQL embarquées
Exec=/home/maison/programmation/ToolBasView/bin/cmake_linux_debug/ToolBasView
Icon=toolbasview.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Development;Application